<div class="dashOverview">
  <app-dashboard-filters
    [filterData]="filterData"
    [dateRange]="dateRange"
    [showZoneFilter]="true"
    [showCourierFilter]="true"
    [showPaymentFilter]="true"
    [showShipmentFilter]="true"
    (dateRangeChange)="onDateRangeChange($event)"
    (filterChange)="onFilterChange($event)"
    (clearFilters)="clearFilter()">
  </app-dashboard-filters>
  
  <div class="mt-2 letterspacing020px">
    <span class="text-brown-gray opacity-80">The Order Delay dashboard is showing you the realtime data of last 30 days till today based on shipment assigned date.</span>
  </div>
  
  <div class="dashboard-grid-row d-flex">
    <div class="dashboard-col-12">
      <div class="pb-0 br-12 h-100p lblca p-lg bg-white dashboard-shadow relative">
        <span class="float-end">
          <img src="assets/images/Real-time-data.svg" width="28" height="28" class="default-tooltip-round" title="Displays real time data from past 30 days (default) upto the last hour." />
        </span>
        <div class="dashboard-grid-row flex-sb-sm">
          <div class="dashboard-col-2 p-15 text-center">
            <div class="dispFlex f-d-c">
              <div class="ndb_bx">
                <h6>Misrouted Shipments</h6>
                <p>{{ numFormat(+status?.misrouted_count) }}</p>
              </div>
            </div>
          </div>
          <div class="dashboard-col-3 p-15 text-center">
            <div class="dispFlex f-d-c">
              <div class="ndb_bx">
                <h6>ODA Shipments</h6>
                <p>{{ numFormat(+status?.oda_count) }}</p>
              </div>
            </div>
          </div>
          <div class="dashboard-col-2 p-15 text-center">
            <div class="dispFlex f-d-c">
              <div class="ndb_bx">
                <h6>Lost Shipments</h6>
                <p>{{ numFormat(+status?.lost_count) }}</p>
              </div>
            </div>
          </div>
          <div class="dashboard-col-3 p-15 text-center">
            <div class="dispFlex f-d-c">
              <div class="ndb_bx">
                <h6>Damaged Shipments</h6>
                <p>{{ numFormat(+status?.damaged_count) }}</p>
              </div>
            </div>
          </div>
          <div class="dashboard-col-2 p-15 text-center">
            <div class="dispFlex f-d-c">
              <div class="ndb_bx">
                <h6>Destroyed Shipments</h6>
                <p>{{ numFormat(+status?.destroyed_count) }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="dashboard-grid-row d-flex">
    <div class="dashboard-col-6 mb-4">
      <div class="donutChart">
        <div class="dashboard-grid-row">
          <div class="dashboard-col-8">
            <p class="dashTileHeading">Pickup Pendency</p>
          </div>
          <div class="dashboard-col-4">
            <p class="text-right sphere-black">
              <img src="assets/images/Real-time-data.svg" width="28" height="28" class="default-tooltip-round" title="Displays real time data from past 30 days (default) upto the last hour."/>
            </p>
          </div>
        </div>

        <div class="dashboard-grid-row d-flex dashOverview">
          <div class="dashboard-col-12">
            <div *ngIf="pickupPendencyHasData" class="tableFixHead tableFixHeadChild">
              <table>
                <thead>
                  <tr>
                    <th class="w-s-i th-v-center-small col-4"></th>
                    <th class="w-s-i th-v-center-small col-2 text-center">
                      1 Day<br />
                      Delayed
                    </th>
                    <th class="w-s-i th-v-center-small col-2 text-center">
                      2 Day<br />
                      Delayed
                    </th>
                    <th class="w-s-i th-v-center-small col-2 text-center">
                      3 Day<br />
                      Delayed
                    </th>
                    <th class="w-s-i th-v-center-small col-2 text-center">
                      3+ Day<br />
                      Delayed
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of pickupPendency">
                    <td class="col-4 smallTable w-s-i">
                      {{ data?.courier_name }}
                    </td>
                    <td class="col-2 text-center smallTable">
                      {{ data?.delay_info['1_day'] }}
                    </td>
                    <td class="col-2 text-center smallTable">
                      {{ data?.delay_info['2_days'] }}
                    </td>
                    <td class="col-2 text-center smallTable">
                      {{ data?.delay_info['3_days'] }}
                    </td>
                    <td class="col-2 text-center smallTable">
                      {{ data?.delay_info['3_plus_days'] }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="!pickupPendencyHasData" class="d-flex j-content-c">
              <div colspan="11">
                <div class="pt-lg mt-xl f-d-c dispFlex">
                  <img src="https://sr-cdn-1.shiprocket.in/img/noData.png" class="center-block w-100px" />
                  <h3 class="text-blue">No Delays</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-col-6">
      <div class="donutChart">
        <div class="dashboard-grid-row">
          <div class="dashboard-col-8">
            <p class="dashTileHeading">NDR to Reattempt Delays</p>
          </div>
          <div class="dashboard-col-4">
            <p class="text-right sphere-black">
              <img src="assets/images/Real-time-data.svg" width="28" height="28" class="default-tooltip-round" title="Displays real time data from past 30 days (default) upto the last hour."/>
            </p>
          </div>
        </div>

        <div class="dashboard-grid-row d-flex dashOverview">
          <div class="dashboard-col-12">
            <div *ngIf="ndrReattemptHasData" class="tableFixHead tableFixHeadChild">
              <table>
                <thead>
                  <tr>
                    <th class="w-s-i th-v-center-small col-4"></th>
                    <th class="w-s-i th-v-center-small col-2 text-center">
                      1 Day<br />
                      Delayed
                    </th>
                    <th class="w-s-i th-v-center-small col-2 text-center">
                      2 Day<br />
                      Delayed
                    </th>
                    <th class="w-s-i th-v-center-small col-2 text-center">
                      3 Day<br />
                      Delayed
                    </th>
                    <th class="w-s-i th-v-center-small col-2 text-center">
                      3+ Day<br />
                      Delayed
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of ndrReattempt; let i = index">
                    <td class="col-4 smallTable w-s-i">
                      {{
                        i + 1 === 1
                          ? 'First'
                          : i + 1 === 2
                          ? 'Second'
                          : i + 1 === 3
                          ? 'Third'
                          : ''
                      }}
                      NDR Attempt
                    </td>
                    <td class="col-2 text-center smallTable">
                      {{ data['1_day'] }}
                    </td>
                    <td class="col-2 text-center smallTable">
                      {{ data['2_days'] }}
                    </td>
                    <td class="col-2 text-center smallTable">
                      {{ data['3_days'] }}
                    </td>
                    <td class="col-2 text-center smallTable">
                      {{ data['3_plus_days'] }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="!ndrReattemptHasData" class="d-flex j-content-c">
              <div colspan="11">
                <div class="pt-lg mt-xl f-d-c dispFlex">
                  <img src="https://sr-cdn-1.shiprocket.in/img/noData.png" class="center-block w-100px" />
                  <h3 class="text-blue">No Delays</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="dashboard-grid-row d-flex">
    <div class="dashboard-col-4 mb-4">
      <div class="donutChart">
        <div class="dashboard-grid-row">
          <div class="dashboard-col-8">
            <p class="dashTileHeading">In Transit Delay</p>
          </div>
          <div class="dashboard-col-4">
            <p class="text-right sphere-black">
              <img src="assets/images/Real-time-data.svg" width="28" height="28" class="default-tooltip-round" title="Displays real time data from past 30 days (default) upto the last hour."/>
            </p>
          </div>
        </div>

        <div class="dashboard-grid-row d-flex dashOverview" style="height: 90%">
          <div class="dashboard-col-12">
            <div *ngIf="inTransitHasData" class="tableFixHead tableFixHeadChildTransitDelay">
              <table>
                <thead>
                  <tr>
                    <th class="w-s-i th-v-center-small col-4"></th>
                    <th class="w-s-i th-v-center-small col-4 text-center">
                      1 Day<br />
                      Delayed
                    </th>
                    <th class="w-s-i th-v-center-small col-4 text-center">
                      2 Day<br />
                      Delayed
                    </th>
                    <th class="w-s-i th-v-center-small col-4 text-center">
                      2+ Day<br />
                      Delayed
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-4 smallTable w-s-i">
                      Zone A
                      <span class="default-tooltip-round" title="{{ sanitizedInTransitHtml.zone_a }}">i</span>
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_a?.actual_delay['1_day'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_a?.actual_delay['2_days'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_a?.actual_delay['2_plus_days'] }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-4 smallTable w-s-i">
                      Zone B
                      <span class="default-tooltip-round" title="{{ sanitizedInTransitHtml.zone_b }}">i</span>
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_b?.actual_delay['1_day'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_b?.actual_delay['2_days'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_b?.actual_delay['2_plus_days'] }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-4 smallTable w-s-i">
                      Zone C
                      <span class="default-tooltip-round" title="{{ sanitizedInTransitHtml.zone_c }}">i</span>
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_c?.actual_delay['1_day'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_c?.actual_delay['2_days'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_c?.actual_delay['2_plus_days'] }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-4 smallTable w-s-i">
                      Zone D
                      <span class="default-tooltip-round" title="{{ sanitizedInTransitHtml.zone_d }}">i</span>
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_d?.actual_delay['1_day'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_d?.actual_delay['2_days'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_d?.actual_delay['2_plus_days'] }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-4 smallTable w-s-i">
                      Zone E
                      <span class="default-tooltip-round" title="{{ sanitizedInTransitHtml.zone_e }}">i</span>
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_e?.actual_delay['1_day'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_e?.actual_delay['2_days'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ inTransit?.z_e?.actual_delay['2_plus_days'] }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="!inTransitHasData" class="dispFlex h-80 j-content-c">
              <div colspan="11">
                <div class="pt-lg mt-xl f-d-c">
                  <img src="https://sr-cdn-1.shiprocket.in/img/noData.png" class="center-block w-100px" />
                  <h3 class="text-blue">No Delays</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-col-4 mb-4">
      <div class="donutChart">
        <div class="dashboard-grid-row">
          <div class="dashboard-col-8">
            <p class="dashTileHeading">RAD to Delivery Delay</p>
          </div>
          <div class="dashboard-col-4">
            <p class="text-right sphere-black">
              <img src="assets/images/Real-time-data.svg" width="28" height="28" class="default-tooltip-round" title="Displays real time data from past 30 days (default) upto the last hour."/>
            </p>
          </div>
        </div>

        <div class="dashboard-grid-row d-flex dashOverview" style="height: 90%;">
          <div class="dashboard-col-12">
            <div *ngIf="radHasData" class="tableFixHead tableFixHeadChildTransitDelay">
              <table>
                <thead>
                  <tr>
                    <th class="w-s-i th-v-center-small col-4"></th>
                    <th class="w-s-i th-v-center-small col-4 text-center">
                      1 Day<br />
                      Delayed
                    </th>
                    <th class="w-s-i th-v-center-small col-4 text-center">
                      2 Day<br />
                      Delayed
                    </th>
                    <th class="w-s-i th-v-center-small col-4 text-center">
                      2+ Day<br />
                      Delayed
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-4 smallTable w-s-i">Zone A</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_a['1_day'] }}</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_a['2_days'] }}</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_a['2_plus_days'] }}</td>
                  </tr>
                  <tr>
                    <td class="col-4 smallTable w-s-i">Zone B</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_b['1_day'] }}</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_b['2_days'] }}</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_b['2_plus_days'] }}</td>
                  </tr>
                  <tr>
                    <td class="col-4 smallTable w-s-i">Zone C</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_c['1_day'] }}</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_c['2_days'] }}</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_c['2_plus_days'] }}</td>
                  </tr>
                  <tr>
                    <td class="col-4 smallTable w-s-i">Zone D</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_d['1_day'] }}</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_d['2_days'] }}</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_d['2_plus_days'] }}</td>
                  </tr>
                  <tr>
                    <td class="col-4 smallTable w-s-i">Zone E</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_e['1_day'] }}</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_e['2_days'] }}</td>
                    <td class="col-4 text-center smallTable">{{ rad?.z_e['2_plus_days'] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="!radHasData" class="dispFlex h-80 j-content-c positionError">
              <div colspan="11">
                <div class="pt-lg mt-xl f-d-c dispFlex">
                  <img src="https://sr-cdn-1.shiprocket.in/img/noData.png" class="center-block w-100px" />
                  <h3 class="text-blue">No Delays</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-col-4">
      <div class="donutChart">
        <div class="dashboard-grid-row">
          <div class="dashboard-col-8">
            <p class="dashTileHeading">RTO Delay</p>
          </div>
          <div class="dashboard-col-4">
            <p class="text-right sphere-black">
              <img src="assets/images/Real-time-data.svg" width="28" height="28" class="default-tooltip-round" title="Displays real time data from past 30 days (default) upto the last hour."/>
            </p>
          </div>
        </div>

        <div class="dashboard-grid-row d-flex dashOverview" style="height: 90%;">
          <div class="dashboard-col-12">
            <div *ngIf="rtoHasData" class="tableFixHead tableFixHeadChildTransitDelay">
              <table>
                <thead>
                  <tr>
                    <th class="w-s-i th-v-center-small col-4"></th>
                    <th class="w-s-i th-v-center-small col-4 text-center">
                      1 Day<br />
                      Delayed
                    </th>
                    <th class="w-s-i th-v-center-small col-4 text-center">
                      2 Day<br />
                      Delayed
                    </th>
                    <th class="w-s-i th-v-center-small col-4 text-center">
                      2+ Day<br />
                      Delayed
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-4 smallTable w-s-i">
                      Zone A
                      <span class="default-tooltip-round" title="{{ sanitizedRtoHtml.zone_a }}">i</span>
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_a?.actual_delay['1_day'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_a?.actual_delay['2_days'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_a?.actual_delay['2_plus_days'] }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-4 smallTable w-s-i">
                      Zone B
                      <span class="default-tooltip-round" title="{{ sanitizedRtoHtml.zone_b }}">i</span>
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_b?.actual_delay['1_day'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_b?.actual_delay['2_days'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_b?.actual_delay['2_plus_days'] }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-4 smallTable w-s-i">
                      Zone C
                      <span class="default-tooltip-round" title="{{ sanitizedRtoHtml.zone_c }}">i</span>
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_c?.actual_delay['1_day'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_c?.actual_delay['2_days'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_c?.actual_delay['2_plus_days'] }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-4 smallTable w-s-i">
                      Zone D
                      <span class="default-tooltip-round" title="{{ sanitizedRtoHtml.zone_d }}">i</span>
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_d?.actual_delay['1_day'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_d?.actual_delay['2_days'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_d?.actual_delay['2_plus_days'] }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-4 smallTable w-s-i">
                      Zone E
                      <span class="default-tooltip-round" title="{{ sanitizedRtoHtml.zone_e }}">i</span>
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_e?.actual_delay['1_day'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_e?.actual_delay['2_days'] }}
                    </td>
                    <td class="col-4 text-center smallTable">
                      {{ rto?.z_e?.actual_delay['2_plus_days'] }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="!rtoHasData" class="dispFlex h-80 j-content-c">
              <div colspan="11">
                <div class="pt-lg mt-xl f-d-c dispFlex">
                  <img src="https://sr-cdn-1.shiprocket.in/img/noData.png" class="center-block w-100px" />
                  <h3 class="text-blue">No Delays</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
