<div class="dashOverview">
  <app-dashboard-filters 
    [showDatePicker]="true"
    [showZoneFilter]="true"
    [showCourierFilter]="true"
    [showPaymentFilter]="true"
    [showShipmentFilter]="true"
    [showClearButton]="true"
    (dateRangeChange)="onDateRangeChange($event)"
    (filterChange)="onFilterChange($event)"
    (clearFilters)="clearFilter()">
  </app-dashboard-filters>
  
  <div class="mt-2 letterspacing020px">
    <span class="text-brown-gray opacity-80">All data in the Dashboard is displayed based on the Shipment assignment
      date.</span>
  </div>
  
  <div class="dashboard-grid-row d-flex">
    <div class="dashboard-col-12">
      <div class="pb-0 br-12 h-100p lblca p-lg bg-white dashboard-shadow relative">
        <div class="dashboard-grid-row">
          <div class="dashboard-col-8">
            <p class="dashTileHeading">RTO Overview</p>
          </div>
          <div class="dashboard-col-4">
            <p class="text-right sphere-black">
              <img src="https://sr-cdn-1.shiprocket.in/img/Real-time-data.svg" width="28" height="28" alt="Real-time data" />
            </p>
          </div>
        </div>
        <div class="rto-banner-dashboard d-flex">
          <span>
            <h2 class="letterspacing032px">Protect Your
              <span class="cod-order">COD Orders &nbsp;</span>from
              <span class="address-risk">Address Risk</span>
            </h2>
          </span>
          <div class="powered-by font-sf-pro-text font-bold">
            Powered by
            <br>
            <span class="text-xl">Risk AI</span>
          </div>
          <span>
            <a href="/sellers/settings/value-added-services/rto-score">
              <button class="btn font-sf-pro-text font-bold text-lg bg-white text-black letterspacing005rem">Activate Now</button>
            </a>
          </span>
        </div>
        <div class="dashboard-grid-row flex-sb-sm">
          <div class="dashboard-col-2 padding-custom-5 text-center">
            <div class="centered flex-column">
              <div class="ndb_bx">
                <h6>Total RTO</h6>
                <p>{{ rto_stats?.rto_count }}</p>
              </div>
            </div>
          </div>
          <div class="dashboard-col-3 padding-custom-5 text-center">
            <div class="centered flex-column">
              <div class="ndb_bx">
                <h6>RTO Percentage</h6>
                <p>{{ rto_stats?.rto_percentage }}</p>
              </div>
            </div>
          </div>
          <div class="dashboard-col-2 padding-custom-5 text-center">
            <div class="centered flex-column">
              <div class="ndb_bx">
                <h6>RTO Initiated</h6>
                <p>{{ rto_stats?.rto_initiated }}</p>
              </div>
            </div>
          </div>
          <div class="dashboard-col-3 padding-custom-5 text-center">
            <div class="centered flex-column">
              <div class="ndb_bx">
                <h6>RTO Undelivered</h6>
                <p>{{ rto_stats?.rto_undelivered }}</p>
              </div>
            </div>
          </div>
          <div class="dashboard-col-2 padding-custom-5 text-center">
            <div class="centered flex-column">
              <div class="ndb_bx">
                <h6>RTO Delivered</h6>
                <p>{{ rto_stats?.rto_delivered }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="dashboard-grid-row">
    <div class="dashboard-col-12">
      <div class="donutChart">
        <div class="dashboard-grid-row">
          <div class="dashboard-col-8">
            <p class="dashTileHeading">RTO Count</p>
          </div>
          <div class="dashboard-col-4">
            <p class="text-right sphere-black">
              <img src="https://sr-cdn-1.shiprocket.in/img/Real-time-data.svg" width="28" height="28" alt="Real-time data" />
            </p>
          </div>
        </div>
        <div *ngIf="rto_tab_raw_hide_no_data" class="dashboard-grid-row">
          <canvas baseChart
            [data]="rto_count_line_chart_data"
            [options]="rto_count_line_chart_options"
            [type]="lineType">
          </canvas>
        </div>
        <div *ngIf="!rto_tab_raw_hide_no_data" class="pt-lg mt-xl f-d-c dispFlex">
          <img src="https://sr-cdn-1.shiprocket.in/img/noData.png" class="center-block w-100px" />
          <h3 class="text-blue">No RTO for selected filters.</h3>
        </div>
      </div>
    </div>
  </div>
  
  <div class="dashboard-grid-row">
    <div class="dashboard-col-8 mb-4">
      <div class="donutChart">
        <div class="dashboard-grid-row">
          <div class="dashboard-col-8">
            <p class="dashTileHeading">RTO Status</p>
          </div>
          <div class="dashboard-col-4">
            <p class="text-right sphere-black">
              <img src="https://sr-cdn-1.shiprocket.in/img/Real-time-data.svg" width="28" height="28" alt="Real-time data" />
            </p>
          </div>
        </div>
        <div *ngIf="rto_tab_raw_hide_no_data" class="dashboard-grid-row">
          <canvas baseChart
            [data]="rto_tab_status_chart_data"
            [options]="rto_tab_status_chart_options"
            [type]="barType">
          </canvas>
        </div>
        <div *ngIf="!rto_tab_raw_hide_no_data" class="pt-lg mt-xl f-d-c dispFlex h-80">
          <img src="https://sr-cdn-1.shiprocket.in/img/noData.png" class="center-block w-100px" />
          <h3 class="text-blue">No RTO for selected filters.</h3>
        </div>
      </div>
    </div>
    <div class="dashboard-col-4">
      <div class="donutChart">
        <div class="dashboard-grid-row">
          <div class="dashboard-col-12">
            <p class="dashTileHeading">RTO Reasons</p>
          </div>
        </div>
        <div *ngIf="!noDataPieChart" class="dashboard-grid-row">
          <canvas baseChart
            [data]="rto_reason_pie_chart_data"
            [options]="rto_reason_pie_chart_options"
            [type]="doughnutType">
          </canvas>
        </div>
        <div *ngIf="noDataPieChart" class="pt-lg mt-xl f-d-c dispFlex h-80">
          <img src="https://sr-cdn-1.shiprocket.in/img/noData.png" class="center-block w-100px" />
          <h3 class="text-blue">No RTO for selected filters.</h3>
        </div>
      </div>
    </div>
  </div>
  
  <div class="dashboard-grid-row d-flex">
    <div class="dashboard-col-6 mb-4">
      <div class="donutChart">
        <div class="dashboard-grid-row">
          <div class="dashboard-col-8">
            <p class="dashTileHeading">Top RTO - Pincodes</p>
          </div>
          <div class="dashboard-col-4">
            <p class="dashTileHeadingSub">Last 30 days</p>
          </div>
        </div>

        <div class="dashboard-grid-row d-flex dashOverview">
          <div class="dashboard-col-12">
            <div *ngIf="rto_tab_pincodes && rto_tab_pincodes.length > 0" class="tableFixHead tableFixHeadChild">
              <table>
                <thead>
                  <tr>
                    <th class="th-v-center-small col-4 w-s-i">
                      Pincode
                    </th>
                    <th class="th-v-center-small col-4 w-s-i text-center">
                      RTO Count
                    </th>
                    <th class="th-v-center-small col-4 w-s-i text-center">
                      Percentage
                    </th>
                  </tr>
                </thead>
                <tbody>
                  @for (rto_pincode of rto_tab_pincodes; track rto_pincode.pincode) {
                    <tr>
                      <td class="col-4 smallTable w-s-i">
                        {{ rto_pincode?.pincode }}
                      </td>
                      <td class="col-4 text-center smallTable">
                        {{ rto_pincode?.rto_orders }}
                      </td>
                      <td class="col-4 text-center smallTable">
                        {{ rto_pincode?.percentage }}
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <div *ngIf="!rto_tab_pincodes || rto_tab_pincodes.length === 0" class="d-flex j-content-c">
              <div colspan="11">
                <div class="pt-lg mt-xl f-d-c dispFlex">
                  <img src="https://sr-cdn-1.shiprocket.in/img/noData.png" class="center-block w-100px" />
                  <h3 class="text-blue">No RTO for selected filters.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-col-6">
      <div class="donutChart">
        <div class="dashboard-grid-row">
          <div class="dashboard-col-8">
            <p class="dashTileHeading">Top RTO - City</p>
          </div>
          <div class="dashboard-col-4">
            <p class="dashTileHeadingSub">Last 30 days</p>
          </div>
        </div>

        <div class="dashboard-grid-row d-flex dashOverview">
          <div class="dashboard-col-12">
            <div *ngIf="rto_tab_top_cities && rto_tab_top_cities.length > 0" class="tableFixHead tableFixHeadChild">
              <table>
                <thead>
                  <tr>
                    <th class="th-v-center-small col-4 w-s-i">
                      City
                    </th>
                    <th class="th-v-center-small col-4 w-s-i text-center">
                      RTO Count
                    </th>
                    <th class="th-v-center-small col-4 w-s-i text-center">
                      Percentage
                    </th>
                  </tr>
                </thead>
                <tbody>
                  @for (top_city of rto_tab_top_cities; track top_city.city) {
                    <tr>
                      <td class="col-4 smallTable w-s-i">
                        {{ top_city?.city }}
                      </td>
                      <td class="col-4 text-center smallTable">
                        {{ top_city?.rto_orders }}
                      </td>
                      <td class="col-4 text-center smallTable">
                        {{ top_city?.percentage }}
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <div *ngIf="!rto_tab_top_cities || rto_tab_top_cities.length === 0" class="d-flex j-content-c">
              <div colspan="11">
                <div class="pt-lg mt-xl f-d-c dispFlex">
                  <img src="https://sr-cdn-1.shiprocket.in/img/noData.png" class="center-block w-100px" />
                  <h3 class="text-blue">No RTO for selected filters.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="dashboard-grid-row d-flex">
    <div class="dashboard-col-6 mb-4">
      <div class="donutChart">
        <div class="dashboard-grid-row">
          <div class="dashboard-col-8">
            <p class="dashTileHeading">Top RTO - Courier</p>
          </div>
          <div class="dashboard-col-4">
            <p class="dashTileHeadingSub">Last 30 days</p>
          </div>
        </div>

        <div class="dashboard-grid-row d-flex dashOverview" style="height: 90%">
          <div class="dashboard-col-12">
            <div *ngIf="rto_tab_top_courier && rto_tab_top_courier.length > 0" class="tableFixHead tableFixHeadChild">
              <table>
                <thead>
                  <tr>
                    <th class="w-s-i th-v-center-small col-4">
                      Name
                    </th>
                    <th class="w-s-i th-v-center-small col-4 text-center">
                      RTO Count
                    </th>
                    <th class="w-s-i th-v-center-small col-4 text-center">
                      Percentage
                    </th>
                  </tr>
                </thead>
                <tbody>
                  @for (top_courier of rto_tab_top_courier; track top_courier.courier) {
                    <tr>
                      <td class="col-4 smallTable w-s-i">
                        {{ top_courier?.courier }}
                      </td>
                      <td class="col-4 text-center smallTable">
                        {{ top_courier?.rto_orders }}
                      </td>
                      <td class="col-4 text-center smallTable">
                        {{ top_courier?.percentage }}
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <div *ngIf="!rto_tab_top_courier || rto_tab_top_courier.length === 0" class="d-flex j-content-c h-80 a-c">
              <div colspan="11">
                <div class="pt-lg mt-xl f-d-c dispFlex">
                  <img src="https://sr-cdn-1.shiprocket.in/img/noData.png" class="center-block w-100px" />
                  <h3 class="text-blue">No RTO for selected filters.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-col-6">
      <div class="donutChart">
        <div class="dashboard-grid-row">
          <div class="dashboard-col-8">
            <p class="dashTileHeading">Top RTO - Customer</p>
          </div>
          <div class="dashboard-col-4">
            <p class="dashTileHeadingSub">Last 30 days</p>
          </div>
        </div>

        <div class="dashboard-grid-row d-flex dashOverview" style="height:90%">
          <div class="dashboard-col-12">
            <div *ngIf="rto_tab_top_customers && rto_tab_top_customers.length > 0" class="tableFixHead tableFixHeadChild">
              <table>
                <thead>
                  <tr>
                    <th class=" w-s-i th-v-center-small col-4">
                      Name
                    </th>
                    <th class=" w-s-i th-v-center-small col-4 text-center">
                      RTO Count
                    </th>
                    <th class=" w-s-i th-v-center-small col-4 text-center">
                      Percentage
                    </th>
                  </tr>
                </thead>
                <tbody>
                  @for (top_customer of rto_tab_top_customers; track top_customer.customer_name) {
                    <tr>
                      <td class="col-4 smallTable w-s-i">
                        {{ top_customer?.customer_name }}
                      </td>
                      <td class="col-4 text-center smallTable">
                        {{ top_customer?.rto_orders }}
                      </td>
                      <td class="col-4 text-center smallTable">
                        {{ top_customer?.percentage }}
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <div *ngIf="!rto_tab_top_customers || rto_tab_top_customers.length === 0" class="d-flex j-content-c h-80 a-c">
              <div colspan="11">
                <div class="pt-lg mt-xl f-d-c dispFlex">
                  <img src="https://sr-cdn-1.shiprocket.in/img/noData.png" class="center-block w-100px" />
                  <h3 class="text-blue">No RTO for selected filters.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
